input, textarea, button, .help > a, pre, select, .checkbox-box {
    font-size: 14px;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-color: var(--highlight-color);
    border-width: 2px;
}

input, textarea, pre, select, .checkbox-box {
    border-radius: 5px;
    padding: 5px;
}

pre, .checkbox-box {
    border-style: inset;
}

button {
    font-size: 16px;
}

button:hover {
    background-color: var(--hover-bg-color);
}

button:disabled {
    border-color: var(--disabled-color);
    background-color: var(--disabled-color);
}

.small-input {
    width: 10%;
}
