input, textarea, button, .help > a {
    font-size: 14px;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-color: var(--highlight-color);
    border-width: 2px;
}

input, textarea {
    border-radius: 5px;
    padding: 5px;
}

button {
    font-size: 16px;
}

button:hover {
    background-color: var(--hover-bg-color);
}

.small-input {
    width: 10%;
}
