:root {
    --bg-color: #2c2c2c;
    --hover-bg-color: #383838;
    --text-color: #e8e4d8;
    --highlight-color: #e4e4e8;
    --error-color: #ec8880;
}

/* App-wide styling */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

.header {
    font-size: 40px;

    height: 192px;
    line-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 32px;
}

.header img {
    height: 100%;
}

.center-box {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.center-box > textarea {
    width: 100%;
    resize: none;
}

.skill-check-state-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px;
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}

input, textarea, button, .help {
    font-size: 14px;
    color: var(--text-color);
    border-color: var(--highlight-color);
}

input, textarea, button {
    background-color: var(--bg-color);
    border-width: 1px;
}

input, textarea {
    border-radius: 5px;
    padding: 5px;
}

button {
    font-size: 16px;
}

.scholle-input {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
}

.help {
    width: 0;
}

.help > a {
    position: relative;
    top: 8px;
    right: 28px;

    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px outset buttonborder;
    border-radius: 50%;

    color: var(--text-color);
    text-decoration: none;
    text-align: center;

    opacity: 50%;
}

.help > a:hover {
    opacity: 100%;
    background-color: var(--hover-bg-color);
}

.evaluate-button {
    margin-top: 24px;
    border-radius: 8px;
    padding: 8px 16px;
}

button:hover {
    background-color: var(--hover-bg-color);
}

table {
    margin-top: 8px;
}

td, th {
    padding: 8px;
}

table, th, td {
    border-style: solid;
    border-width: 1px;
    border-color: var(--highlight-color);
    border-collapse: collapse;
}

.error {
    margin-top: 8px;
    color: var(--error-color);
}

.info {
    margin-top: 8px;
}

.small-input {
    width: 10%;
}

.number-input {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.number-input > input {
    width: 100%;
}

.number-input-buttons > div > button {
    position: relative;
    right: 20px;

    height: 50%;
    width: 20px;

    padding: 0;
    font-size: 9px;
    border-radius: 0 0 5px 0;
}

.number-input-buttons > div > button:first-of-type {
    border-radius: 0 5px 0 0;
}

.number-input-buttons > div {
    width: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
